body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cartwrapper::-webkit-scrollbar{
  width:4px;
}

.cartwrapper::-webkit-scrollbar-thumb{
  background:#ddd;
}
.cartwrapper{
  height:550px;
  overflow-x:hidden;
}

.menutab button{
  padding:8px 12px;
  background:#ddd;
  border-radius:10px;
  box-shadow:  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
  outline:none;
}
.menutab button:focus{
  background:#3B82F6;
  color:white;
}